{% extends 'base.html.twig' %}

{% block title %}F 'n' Babies - About{% endblock %}

{% block body %}
<style>
  .wrapper { margin: 1em auto; width: 95%; font: 18px/1.5 sans-serif; }
  .wrapper code { background: #F5F5F5; padding: 2px 6px; }
  .panel_wrapper { display: table; height: 33%; overflow: hidden; }
  .temp_name { display: table-cell; vertical-align: middle; }
</style>

<div align=center class="wrapper">
<h1>ABOUT</h1>
</div>
{% endblock %}
