{% extends 'base.html.twig' %}

{% block title %}F 'n' Babies - Coming Soon!{% endblock %}

{% block body %}
<style>
  .wrapper { margin: 1em auto; width: 95%; font: 18px/1.5 sans-serif; }
  .panel-table { border-spacing: 10px; border-collapse: separate; width: 100%; height: 100%; }
  .panel_wrapper { display: table; height: 100%; overflow: hidden; }
  .page-panel { align: center; border: 1px solid grey; }
  .side-panel { display: table-cell; vertical-align: middle; width: 175px; }
</style>


<div align=center class="wrapper">
  <table class=panel-table>
    <td style="height: 100px;">
      <table class=panel-table>
        <tr>
          <td><a href=#><div class="panel_wrapper page-panel"><div align=center class="side-panel"><h3>About</h3></div></div></a></td>
        </tr>
        <tr>
          <td><a href=#><div class="panel_wrapper page-panel"><div align=center class="side-panel"><h3>Follow</h3></div></div></a></td>
        </tr>
        <tr>
          <td><a href=#><div class="panel_wrapper page-panel"><div align=center class="side-panel"><h3>Shop</h3></div></div></a></td>
        </tr>
      </table>
    </td>
    <td>
      <div class="logo_wrapper page-panel" style="height:100%;"><img src="logo.jpg" style="height: 50vw;"></div>
    </td>
    <td style="height: 100px;">
      <table class=panel-table>
        <tr>
          <td><a href=#><div class="panel_wrapper page-panel"><div align=center class="side-panel"><h3>Request</h3></div></div></a></td>
        </tr>
        <tr>
          <td><a href=#><div class="panel_wrapper page-panel"><div align=center class="side-panel"><h3>?</h3></div></div></a></td>
        </tr>
        <tr>
          <td><a href=#><div class="panel_wrapper page-panel"><div align=center class="side-panel"><h3>Contact</h3></div></div></a></td>
        </tr>
      </table>
    </td>
  </table>
</div>
{% endblock %}
