{% extends 'base.html.twig' %}

{% block title %}F 'n' Babies - Shop{% endblock %}

{% block body %}
<style>
  .wrapper { margin: 1em auto; width: 95%; font: 18px/1.5 sans-serif; }
  .panel_wrapper { display: table; height: 33%; overflow: hidden; }
  .panel-table { border-spacing: 10px; border-collapse: separate; width: 100%; }
  .page-panel { align: center; border: 1px solid grey; }
  .product-panel { height: 300px; width: 100%;}
  .header-panel { align: center; border: 1px solid grey; height: 120px; }
  .bottom-panel { align: center; border: 1px solid grey; width: 75%; height: 120px; }
</style>

<div align=center class=wrapper>
  <table class=panel-table>
    <tr>
      <td style="width:200px;"><a href=#><div align=center class="page-panel header-panel">LOGO</div></a></td>
      <td>
        <table class=panel-table>
          <tr>
            <td><div align=center class="page-panel header-panel">Welcome to f 'n' babies SHOP!</div></td>
            <td><div align=center class="page-panel header-panel">Handmade at home with love!</div></td>
          </tr>
        </table>
    </tr>
    <tr>
      <td style="width:200px;">
        <div class=page-panel style="height: 300px">
          <table class=panel-table>
            <tr>
              <td>
                <a href=#>ABOUT US</a>
              </td>
            </tr>
            <tr>
              <td>
                <a href=#>CUSTOMER ORDER</a>
              </td>
            </tr>
            <tr>
              <td>
                <a href=#>LOCATION/CONTACT</a>
              </td>
            </tr>
            <tr>
              <td>
                <a href=#>CART</a>
              </td>
            </tr>
            <tr style="height:30px">
            </tr>
            <tr>
              <td>
                  FOLLOW US for sneak peaks at new products on instagram @fnbabies or on facebook at facebook.com/fnbabies
              </td>
            </tr>
          </table>
        </div>
      </td>
      <td>
        <table class=panel-table>
          <td class=page-panel style="height: 300px; width: 300px;">
            <div style="height: 300px; width: 300px;">PRODUCT IMAGE</div>
          </td>
          <td>
           <div class=page-panel style="height: 200px;">
             DESCRIPTION
           </div>
           <div class=page-panel style="height: 100px;">
             ORDER FORM
           </div>
          </td>
        </table>
      </td>
    </tr>
  </table>
  <div align=center class=bottom-panel>
    Didn't find what you were looking for in our shop?<br>
    Request a <a href=#>Custom Order</a>
  </div>
</div>
{% endblock %}
